@media (min-width:769px) {
    body {
        margin: 0;
        padding: 0;
        background-color: rgb(228, 228, 228);
        overflow:scroll;
        overflow-x: hidden;
    }
    a { color: black;}
    #profile-component {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #profile-component h4, #profile-component h5 {
        margin: 3px;
    }
    #profile-component h5 {
        color: rgb(151, 151, 151);
    }
    #header {
        width: 100%;
        height: 90px;
        background-color: #252525;
    }
    #header h1 {
        padding: 20px;
        margin: 0;
        color: white;
    }
    #header p {
        font-size: 1.2em;
        margin-right: 20px;
        color: white;
    }
    #header a {
        text-decoration: none;
        color: white;
    }
    #header h1, #header p, #header button {
        display: inline-block;
    }
    #main {
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        width: 960px;
        height: 600px;
        background-color: white;
        border-radius: 25px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }
    #timetable {
        width: 60%;
        height: 100%;
        background-color: white;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    #table-header {
        width: 100%;
        height: 70px;
        display: flex;
        background-color: rgb(235, 235, 235);
        border-top-left-radius: 20px;
        justify-content: center;
        align-items: center;
    }
     #profile_info, .profile_header_btn {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
    }
    #timetable h2 {
        text-align: center;
        margin: 5px;
    }
    .profile_header_btn {
        text-decoration: none;
        font-weight: bold;
        font-size: 0.9em;
        color: white;
        background-color: black;
        padding: 10px;
        margin: 5px;
        border-radius: 18px;
        border: none;
    }
    #timetable table {
        margin: 0 auto;
        margin-top: 20px;
        border-spacing: 7px;
    }
    #profile {
        width: 40%;
        height: 100%;
        background-color: white;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    #timetable .table-column {
        padding-right: 10px;
        text-align: center;
        font-weight: bold;
    }
    #timetable .table-box {
        text-align: center;
        font-weight: bold;
        width: 80px;
        height: 80px;
        background-color:rgb(235, 235, 235);
        border-radius: 15px;
    }
    #timetable .table-box p {
        margin: 0;
    }
    #section-divider {
        margin: 0;
        width: 0.06%;
        height: 100%;
        background-color: rgb(204, 204, 204);
        border: none;
    }
    #profile_section {
        width: 40%;
        height: 100%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    #search-section {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    #search-section button {
        margin-top: 10px;
        margin-left: 10px;
    }
    #profile-search-input {
        margin-top: 10px;
        padding: 5px;
        width: 250px;
        height: 25px;
        background-color: rgb(235, 235, 235);
        border: none;
        border-radius: 8px;
    }
    .in-profile-section {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #message-main {
        width: 60%;
        height: 100%;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    #message-header {
        height: 10%;
        display: flex;
        align-items: center;
    }
    #message-header h2 {
        margin: 10px;
    }
    #message-home-btn {
        margin: 10px;
        text-decoration: none;
        border: none;
        font-weight: bold;
        font-size: 1.2em;
    }
    #message-main hr {
        margin: 0;
        height: 0.1px;
        background-color: black;
        border: none;
    }
    #message-section {
        height: 75%;
        width: 100%;
        overflow: scroll;
        display: inline-flex;
        flex-direction: column-reverse;

    }
    .message-date {
        text-align: center;
        color: rgb(190, 190, 190);
    }
    .my-text-area {
        width: 100%;
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: flex-start;
    }
    .my-text {
        max-width: 20%;
        margin: 5px 10px 5px 5px;
        padding: 10px;
        float: right;
        border-radius: 20px;
        background-color: rgb(226, 226, 226);
    }
    .my-text-area p {
        margin: 0px 0px 5px;
    }
    .others-text-area {
        width: 100%;
        display: inline-flex;
        align-items: flex-end;
    }
    .others-text {
        max-width: 20%;
        margin: 5px 5px 5px 10px;
        padding: 10px;
        float: right;
        border-radius: 20px;
        background-color: white;
        border: 1px solid rgb(211, 210, 210);
    }
    .others-text-area p {
        margin: 0px 0px 5px;
    }
    #message-input-section {
        height: 15%;
        
    }
    #message-input-section form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #message-input-section input {
        padding-left: 10px;
        width: 80%;
        height: 40%;
        border-radius: 30px;
        border: solid 1px black;
    }
    #message-input-section button {
        margin: 10px;
        height: 40%;
    }
    #footer {
        padding: 20px;
        width: 100%;
        height: 90px;
        background-color: black;
    }
    #footer a, #footer p {
        font-size: 1.2em;
        text-decoration: none;
        color: white;
    }
}
@media (min-width:481px) and (max-width:768px) {
    body {
        margin: 0;
        padding: 0;
    }
}
@media (max-width: 480px) {
    body {
        margin: 0;
        padding: 0;
    }
}